.entry h1{
	font-size: xx-large;
}

.entry h2{
	font-size: x-large;
}

.entry h3{
	font-size: large;
}

.entry em,.entry cite{
	font-style: italic;
}

.entry strong{
	font-weight: bold
}

.entry ul,.entry ol{
	padding-left: 2em;
}

.entry blockquote{
	margin-left: 2em;
}
.entry pre{
	padding:10px;
	overflow: auto;
	overflow-y: hidden;
	background-color: White;
	border: 1px solid #C6C9CB;
	-webkit-box-shadow: 1px 1px 1px #d8d8d8;
	-moz-box-shadow: 1px 1px 1px #d8d8d8;
}
.entry pre.code{
	margin-bottom: 20px;
	margin-top: 10px;
	border: 1px solid #e5e5e5;
}
.entry pre.literal-block{
	border: 1px solid #e5e5e5;
}
.entry ol p,.entry ul p{padding-bottom: 0px !important}
.entry .section{margin-bottom: 20px;}

.entry code,.entry pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.entry code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.entry pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.entry pre.prettyprint {
  margin-bottom: 20px;
}

.entry pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

.entry .pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.entry hr.docutils{
	width:100%;
}